.footer{
    background-color: $color-background;
    &_data {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

    }
} 

.year {
    margin: 0 5px;
}

.footer-logo-app{
    margin-left: 5px;
    cursor: pointer;
  }

  .img-logo-rs{
      height: 20px;
      width: 80px;
  }