.header {
    position: relative;
    background-color: $color-background;
    z-index: 99;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    cursor: pointer;
    color: $color-light;
    text-decoration: none;
    margin-right: 30px;
}

.link:hover {
    color: $color-primary;
    @extend %transition;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.header__controls {
    display: flex;
    align-items: center;
}

.select{
    margin-left: 30px;
    width: 48px;
    height: 60px;
    background-image: url(../assets/svg/ball-2.svg);
    background-size: 48px 60px;
    background-position: left -8px;
    background-repeat: no-repeat;
    // transition: .3s;
}

.select span {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 2.0rem;
    background-color: $color-primary;
}

