.controls{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    font-size: 20px;
    line-height: 40px;
}

.filters-value, .filters-range, .filters-sort {
    max-width: 33%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
}

.title-controls {
    display: block;
    height: 60px;
    line-height: 6.0rem;
    text-transform: uppercase;
}

.shape, .color, .size {
    display: flex;
    align-items: center;
}

.shape button {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
}

.shape button.active {
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(
322deg) brightness(83%) contrast(88%);
}

.shape button:nth-child(1) {
    background-image: url(../assets/svg/ball.svg);
    margin-left: 20px;
}

.shape button:nth-child(2) {
    background-image: url(../assets/svg/bell.svg);
}

.shape button:nth-child(3) {
    background-image: url(../assets/svg/cone.svg);
}

.shape button:nth-child(4) {
    background-image: url(../assets/svg/snowflake.svg);
}

.shape button:nth-child(5) {
    background-image: url(../assets/svg/toy.svg);
    width: 50px;
}


.color button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 15px 10px;
    border: 1px solid #278D9F;
    border-radius: 5px;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.color button:nth-child(1) {
    background-color: #fff;
    margin-left: 20px;
}

.color button.active:nth-child(1)::after {
    border-color: #666;
}

.color button.active:nth-child(2)::after {
    border-color: #666;
}

.color button.active::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(
45deg);
}

.color button:nth-child(2) {
    background-color: #ecf008;
    margin-left: 20px;
}

.color button:nth-child(3) {
    background-color: #fa0000;
    margin-left: 20px;
}

.color button:nth-child(4) {
    background-color: #2100dd;
    margin-left: 20px;
}

.color button:nth-child(5) {
    background-color: #0cf800;
    margin-left: 20px;
}

.color button.active::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(
45deg);
}

.size button {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    border: 0;
    outline: 0;
    background-image: url(../assets/svg/ball.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
}

.size button:nth-child(1) {
    margin-left: 20px;
}

.size button:nth-child(2) {
    background-size: 40px 40px;
}

.size button:nth-child(3) {
    background-size: 32px 32px;
    margin-left: 0;
}

.shape button.active, .size button.active {
    filter: invert(9%) 
            sepia(63%) 
            saturate(461%) 
            hue-rotate(322deg) 
            brightness(83%) 
            contrast(88%);
}

.favorite-container, .form-group {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
}

.favorite-input {
    width: initial;
    height: initial;
    display: none;
}

.favorite-input-label {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(6px);
    border: 1px solid #278D9F;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}

.favorite-input-label:hover {
    background-color: #278D9F;
}

.favorite-input:checked + .favorite-input-label {
    background-color: #278D9F;
    border-color: #278D9F;
}

.favorite-input-label:hover {
    background-color: #278D9F;
}

.favorite-input:checked + .favorite-input-label::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(
45deg);
}

.sort-select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-bottom: 125px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url(../assets/svg/arrow-down.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 340px center;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}

.reset {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #278D9F;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}