
.lightrope-section{
    width: inherit;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
}

.lightrope {
    height: 10px;
    // transform-origin: translate(0%, 50%);
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    position: relative; // родитель
}  

.lightrope::after {     
    content: "";
    position: absolute;
    transform-origin: top left;
}

.lightrope_move {
    display: block;
    position: absolute; 
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: rgba(0, 174, 255, 0.692);
    transform-origin: 0 2px   
}