.logo-app {
  // background-image: url(../assets/Xtree-logo.svg);
  width: 40px;
  height: 60px;
  background-repeat: no-repeat; 
  margin-right: 30px;
  }
  
.rs {
  margin-top: 7px;
}
.logo-app:hover {
 cursor: pointer;
}

.logo-svg:hover {
  .logo-path {
    fill: $color-primary;
    @extend %transition;
  }    
  
}