// .logo-app {
  // background-image: url(../assets/Xtree-logo.svg);
  // width: 40px;
  // height: 60px;
  // background-repeat: no-repeat; 
  // margin-right: 30px;
  // cursor: pointer;
  // }
  
.rs {
  margin-top: 7px;
}
// .logo-app:hover {
 
// }

// .logo-svg:hover {
//   .logo-path {
//     fill: $color-primary;
//     @extend %transition;
//   }    
  
// }
.logo-object{
  cursor: pointer;
}

.logo-app {
  margin-right: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url(/assets/Xtree-logo.svg);
  width: 40px;
  height: 60px;
}

// .logo-app:hover {
//   background-image: url(/assets/Xtree-logo.svg);
//   @extend %transition;
// }
// .logo-svg:hover {
//   .logo-path, .fil0 {
//     fill: $color-primary;
//     @extend %transition;
//   }    
//   cursor: pointer;
// }