.count-slider-container {
    margin-bottom: 35px;
}

.year-slider-container, .count-slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-slider, .year-slider {
    display: inline-block;
    height: 6px;
    width: 270px;
}

.noUi-target {
    background: #FAFAFA;
    border-radius: 3px;
    position: relative;
}

.noUi-horizontal {
    height: 18px;
}

.year-slider-container, .count-slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}