// .sf-snow-flake {
//     position: fixed;
//     top: -20px;
//     z-index: 99999;
//     }
    
//     .sf-snow-anim {
//     top: 110%;
//     }
.snow-blocks{
    background: url(/assets/bg/3.webp) no-repeat #0182c6;
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    background-size:cover;
}

.snow1{
    background-image: url(/assets/svg/snow.svg);
    background-size: 10px;
    position:absolute;
    width: 100%;
     height:1300px;
     animation: snow1 11s linear infinite;    
 }

 .snow2{
    background-image: url(/assets/svg/snowflake.svg);
    background-size: 5px;
    animation: snow2 10s linear infinite;
    width: 100%;
    height:1300px;
    position:absolute;
}
@keyframes snow2{
    0%{background-position: 0 0, 0 0;}
    100%{background-position: 10% 600px, 10% 600px;}
}
@keyframes snow1{
    from{background-position: 0 -300px;}
    20% {background-position: 20% -100px;}
    40% {background-position: 30% 100px;}
    to{background-position: 20% 700px;}
}