.wrapper {
  display: flex;
  width: 1197px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
}

.wrapper-controls{
  display: flex;
  flex-direction: column;
}