.page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $img-background;
  background-size: cover;
  min-height: calc(100vh - 145px);
  background-attachment: fixed;
}